@using System.Web.Mvc.Html
@using System.Web.Optimization
@using Umbraco.Core.Models
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Umbraco - @CurrentPage.Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@CurrentPage.GetPropertyValue("description")"/>
    <meta name="keywords" content="@CurrentPage.GetPropertyValue("keywords")"/>
    <meta name="author" content="@CurrentPage.GetPropertyValue("author")"/>

    <meta property="og:title" content="@CurrentPage.GetPropertyValue("pageTitle")"/>
    <meta property="og:image" content="@CurrentPage.GetPropertyValue("pageImage")"/>
    <meta property="og:url" content="@HttpContext.Current.Request.Url.Host@CurrentPage.Url"/>
    <meta property="og:description" content="@CurrentPage.GetPropertyValue("description")"/>

    <meta name="twitter:title" content="@CurrentPage.GetPropertyValue("twitterTitle")"/>
    <meta name="twitter:image" content="@CurrentPage.GetPropertyValue("twitterImage")"/>
    <meta name="twitter:url" content="@HttpContext.Current.Request.Url.Host@CurrentPage.Url"/>
    <meta name="twitter:card" content="@CurrentPage.GetPropertyValue("twitterCard")"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="@Umbraco.TypedMedia(CurrentPage.GetPropertyValue("favicon")).Url">
    
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

    @Styles.Render("~/css/animate.css")
    @Styles.Render("~/css/icomoon.css")
    @Styles.Render("~/css/bootstrap.css")
    @Styles.Render("~/css/superfish.css")
    @Styles.Render("~/css/style.css")

    <!-- Modernizr JS -->
    @Scripts.Render("~/scripts/modernizr-2.6.2.min.js")
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
        <script src="scripts/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="fh5co-wrapper">
    <div id="fh5co-page">
        
        <!-- Header -->
        @{Html.RenderPartial("_Header");}

        @RenderBody()
        <!-- Footer -->
        @{Html.RenderPartial("_Footer");}

    </div>
</div>

    @Scripts.Render("~/scripts/jquery.min.js")
    @Scripts.Render("~/scripts/jquery.easing.1.3.js")
    @Scripts.Render("~/scripts/bootstrap.min.js")
    @Scripts.Render("~/scripts/jquery.waypoints.min.js")
    @Scripts.Render("~/scripts/jquery.stellar.min.js")
    @Scripts.Render("~/scripts/hoverIntent.js")
    @Scripts.Render("~/scripts/superfish.js")
    @Scripts.Render("~/scripts/main.js")
    
</body>
</html>
